body {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 18px;
}

h1 {
  font-family:'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase; 
  letter-spacing: .15em;
  font-size: 6.5em;
  color:#fff;
}

h2 {
  font-family:'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase; 
  letter-spacing: .15em;
  font-size: 4em;
}

h3 {
  font-family:'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase; 
  letter-spacing: .15em;
  font-size: 2em;
  color:#fff;
}

h4 {
  font-family: 'Noto Serif', serif;
  font-size: 1.5em;
  color:#fff;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.featured-text {
	line-height: 1%;
  display: flex;
  position: absolute;
  width: 80%;
  top: 15%;
  left: 50%;
  transform: translateY(-15%) translateX(-50%);
  z-index: 1;

}

header {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.header-imgs {
	flex: 1;
	max-width: 33%;
	background-color: rgba(0,0,0,0.4);
  overflow: hidden;
}

.header-imgs article {
  position: relative;
}

.bg-imgs {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  max-height: 90vh;
  background-size: cover;
  position: relative;
  z-index: -2;
}

.bg-imgs-text {
  opacity: 0;
  text-decoration: none;
  color: #fff;
/*  display: flex;
  align-items: center;
  justify-content: center;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*transform: translateY(-90%)*/
}

.header-imgs:hover {
  background-color: rgba(0,0,0,0);
}

.header-imgs:hover .bg-imgs-text{
  opacity: 1;
}

nav {
  background-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
}

#land-cryptids {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

#sea-cryptids {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

#sky-cryptids {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

footer {
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}